.header__lang-link {
  margin-left: 18px;
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link:hover {
  text-decoration: underline;
}

.header__lang-link:first-child {
  margin-left: 0;
  text-decoration-line: underline;
}
