.header__lang-link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  padding-left: 18px;
  text-decoration: none;
  color: #ffffff;
}
.header__lang-link:first-child {
  padding-left: 0;
}
@media screen and (max-width: 465px) {
  .header__lang-link {
    max-width: 22px;
  }
}
