.header__lang-link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  margin-left: 18px;
  text-decoration: none;
  color: #ffffff;
}
.header__lang-link:first-child {
  margin-left: 0;
}
.header__lang-link:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}
@media screen and (max-width: 465px) {
  .header__lang-link {
    max-width: 22px;
  }
}

@media screen and (max-width: 325px) {
  .header__lang-link {
    font-size: 18px;
  }
}
