.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}
@media screen and (max-width: 950px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
  }
}
@media screen and (max-width: 740px) {
  .photo-grid {
    max-width: 288px;
  }
}
