.places {
  max-width: 984px;
  display: grid;
  /* grid-template-columns: 460px 485px; */
  grid-template-columns: repeat(auto-fill, 460px);
  grid-template-rows: repeat(auto-fill, 150px);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .places {
    grid-template-columns: repeat(auto-fill, 440px);
    grid-template-rows: repeat(auto-fill, 152px);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    grid-template-columns: repeat(auto-fill, 340px) 352px;
    grid-template-rows: repeat(auto-fill, 92px);
    gap: 14px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    grid-template-columns: repeat(auto-fill, 320px);
    grid-template-rows: repeat(auto-fill, 35px);
  }
}
