.cover__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
