.cover__subtitle {
  font-family: "Inter", Arial, sans-serif;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  z-index: 0;
}
@media screen and (max-width: 505px) {
  .cover__subtitle {
    min-width: 288px;
    min-height: 70px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
