.footer__nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .footer__nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__nav {
    align-items: baseline;
  }
}
