.page__lead {
  max-width: 984px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page__lead {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  .page__lead {
    margin-left: 0;
    margin-right: 0;
  }
}
