.page__places {
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .page__places {
    margin-top: 85px;
  }
}

@media screen and (max-width: 320px) {
  .page__places {
    margin-top: 64px;
  }
}
