.lead__caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  min-width: 158px;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin-top: 8px;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
