.cover__title {
  font-family: "Inter", Arial, sans-serif;
  max-width: 560px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 0;
}

@media screen and (max-width: 650px) {
  .cover__title {
    font-size: 35px;
    max-width: 540px;
  }
}

@media screen and (max-width: 505px) {
  .cover__title {
    margin-top: 33px;
    line-height: 35px;
    max-width: 288px;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    max-width: 285px;
  }
}
